@font-face {
  font-family: "MyFont";
  src: url("/src/fonts/QUICHE\ DISPLAY\ REGULAR.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
height: 100%;
margin: 0;
/* overflow: hidden; */
    font-family: "MyFont";

}

form{
    max-width: none !important;
    padding: 1rem;
}

.hidden {
    display: none;
}
.content-section.hidden {
    display: none !important; 
}

.LOGO {
    padding: 10%;
}
.navbar {
    position: fixed;
    top: 45%;
    left: calc(33% / 3);
    display: flex;
    flex-direction: column;
    gap: 14px;
    z-index: 999;
    text-align: center;
}
@media screen and (max-width: 991px) {
    .navbar {
        position: static;
        justify-content: center;
        gap: 20px;
        margin: 1rem 0;
    }   
    
}

.navbar a {
    text-decoration: none; 
    /* font-family: "Playfair Display", serif; */
    font-weight: 600;
    font-size: 30px;
    color: #111;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.navbar a:hover,
.navbar a.active {
    transform: translateX(6px);
    opacity: 0.8;
}


.sidebar {
width: 33%;
}


@media (min-width: 992px) {
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 1rem;
}
}


.content {
height: 100%;
/* overflow: hidden; */
padding-top: 150px;
}


@media (min-width: 992px) {
.content {
margin-left: 33%;
}
}


.photos {
height: 100%;
overflow-y: auto;
padding: 1rem;
gap: 1rem;
}


.photo-column {
flex: 1;
}


.photo-column img {
width: 100%;
display: block;
margin-bottom: 1rem;
border-radius: 6px;
object-fit: cover;
}


/* Masonry ON */
/* CSS columns masonry */
/* príklad */
/* Grid layout */
#photosContainer.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

#photosContainer.grid .photo-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

#photosContainer.grid img {
  width: 100%;
  display: block;
}

/* Masonry layout */
#photosContainer.masonry {
  display: block;  /* odstráni flex */
}

.grid-item {
  width: 33.33%;   /* pevne 3 stĺpce */
    box-sizing: border-box;

  margin-bottom: 10px;
  float: left;
}

.grid-item img {
  width: 100%;
  display: block;
}
