#about {
  padding: 2rem;
  background-color: #f8f9fa;
margin-left: 33%;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#about p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-about{
    padding: 1%;
    text-align: center;
    font-size: 20px;
    line-height: 1.55;
    /* font-family: "Playfair Display", serif; */
    letter-spacing: 0.px;
    word-spacing: 10px;
    /* color: #222; */
}